body {
  margin: 0; /*body에는 기본적으로 margin 8px 들어가있음*/
  background-image: url(/image/1637628.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: white;
  min-height: 100vh; /*최소 보는 화면의 높이만큼*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.task-area {
  border: 1px solid lightgray;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
#under-line {
  height: 4px;
  width: 80px;
  background-color: pink;
  position: absolute;
  left: 0;
  top: 52px;
  padding: 0;
}
.task-tabs div {
  padding: 1em;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
